body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Evita rolagem */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transition: transform 0.5s ease; /* Suaviza o giro */
}

.rectangle {
  background-image: url('./imgs/Coliseu2.png'); /* Define a imagem como fundo */
  background-size: cover; /* Garante que a imagem cubra todo o espaço */
  background-position: center; /* Centraliza a imagem */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative; /* Para posicionar as imagens */
  width: 60vw; /* Padrão para paisagem */
  height: 50vh;
  border: solid 1vw #4A4A4A;
  border-top: 2vh solid  #4A4A4A;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.image {
  position: absolute;
  transition: left 1s ease-in-out; /* Suaviza o movimento */
  width: 16vw; /* Padrão para paisagem */
  height: auto; /* Mantém a proporção da imagem */
}

.image-left {
  bottom: 5%;
  left: 10%; /* Posição inicial da imagem esquerda */
}

.image-left.movendo {
  left: 55%; /* Posição para onde a imagem se move */
  bottom: 5%;
}

.image-right {
  right: 10%; /* Posição fixa da imagem direita */
  bottom: 5%;
}


.raio{
  height: 20vh;
}

#Array {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  
}
.item {
  width: 7vh;
  height: 7vh;
  margin: 0; /* Espaçamento entre as divs */
  background-color: white;
  border: none;
}
.item:nth-child(even) {
  background-color: #f5f5f5;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.item:nth-child(odd) {
  background-color: #ffff; /* Cinza */
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
  /* Estilos para o primeiro item */
  .item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left:3px solid black ;
    
  }
  /* Estilos para o último item */
  .item:last-child {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-right: 3px solid black;
  }
.amarelo {
  background-color: yellow !important;
}
.item.preto {
  background-color: black !important;
}
#barraDeJogo{
  display: flex;
  background-color: #4A4A4A;
  width: 60vw;
  border: solid 1vw #4A4A4A;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.botao{
  height: 15vh;
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

.swing {
  display: inline-block;
  animation: swing 0.3s ease;
  animation-iteration-count: 1;
}

.life-bar {
  display: flex;
  width: 17vw;
  font-size: 40px;
  position: relative;
  bottom: 19vh;
  
  
}


/* Se a altura for maior que a largura */
@media (orientation: portrait) {
  .rectangle {
    margin-top: 1vh;
    width: 70vh; /* Proporções ajustadas para retrato */
    height: 55vw;
  }
  .image {
    width: 23vh; /* Ajusta para modo retrato */
    position: absolute;
    transition: left 1s ease-in-out; /* Suaviza o movimento */
    height: auto; /* Mantém a proporção da imagem */
  }
  .image-left {
    left: 0; /* Posição inicial da imagem esquerda */
  }
  .image-left.movendo {
    left: 55%; /* Posição para onde a imagem se move */
  }
  .image-right {
    right: 0; /* Posição fixa da imagem direita */
  }
  .item {
    width: 7vw;
    height: 7vw;
    margin: 0; /* Espaçamento entre as divs */
    background-color: white;
    border: none;
  }
  #barraDeJogo{
    background-color: #4A4A4A;
    width: 70vh;
    border: solid 1vh #4A4A4A;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    display: flex;
  }
  .botao{
    height: 15vw;
  }
  .life-bar {
    display: flex;
    width: 17vh;
    font-size: 40px;
    position: relative;
    bottom: 21vw;
    
    
  }
}